<body data-logged-in="{{isLoggedIn}}">
    {{> header}}

    <!-- Login/Registration Modals -->
    {{> loginModal}}
    {{> registrationModal}} 
<!-- Rest of your HTML content -->
<script src="/js/main.js"></script>
<script src="/js/auth.js"></script>

{{> footer}}
</body>